<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title th:text="${pageName}+' - '+${projectName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- alert -->
    <link rel="stylesheet" type="text/css" href="/alert/css/ns-default.css" />
    <link rel="stylesheet" type="text/css" href="/alert/css/ns-style-growl.css" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>