<div th:fragment="script" xmlns:th="http://www.thymeleaf.org">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/alert/js/modernizr.custom.js"></script>
    <script src="/alert/js/classie.js"></script>
    <script src="/alert/js/notificationFx.js"></script>

    <script type="text/javascript" src="/js/common/base.js"></script>
    <script type="text/javascript" src="/js/common/request.js"></script>
    <script type="text/javascript" src="/js/common/search.js"></script>
</div>