<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>

<body>
<!-- topbar starts -->
<div th:replace="common/topbar"></div>
<!-- topbar ends -->

<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="common/menu"></div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div th:replace="common/box_header"></div>

                    <div class="content-box-large box-with-header">
                        <div class="panel-body">
                            <fieldset>
                                <input type="hidden" id="groupId" th:value="${obj.id}">
                                <div class="form-group">
                                    <label>组名</label>
                                    <input type="text" class="form-control" id="name" th:value="${obj.name}" placeholder="请输入">
                                </div>
                                <div class="form-group">
                                    <label>备注</label>
                                    <input type="text" class="form-control" id="remark" th:value="${obj.remark}" placeholder="请输入">
                                </div>
                            </fieldset>
                            <div>
                                <div class="btn btn-primary" id="save">
                                    <i class="fa fa-save"></i>
                                    保存
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="common/footer"></footer>

<!-- external javascript -->
<div th:replace="common/script"></div>

<script type="text/javascript" src="/js/page/system/group/edit.js"></script>
<script>
    window.onload = function () {

        var groupEdit = new window.controller.GroupEdit();

        groupEdit.init();
    };
</script>


</body>
</html>